
body {
  color:#FFFFFF;
  background-color:#424242;
  padding-top: 100px;
}
.body-welcome {
  color:#FFFFFF;
  background-color:#424242;
  padding-top:50px;
}

.starter-template {
  padding: 50px 8px;
  text-align: center;
}
